.container{
    margin-bottom: 100px;
}
.sliding-bg{
 background-color: #FEEAE9;
}
.carousel-item{
    padding: 20px;
}
.price{
    color: #e40860;
}
.btn-buy-now{
    background-image: linear-gradient( to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.wacth{
    background-color: orange;
    padding: 10px 30px;
    border-radius: 10px;
}
.bag{
    background-color: orchid;
    padding: 10px 30px;
    border-radius: 10px;
}
.shoe{
    background-color: blue;
    padding: 10px 30px;
    border-radius: 10px;
}
.categories h1{
    color: white;
}
.categories img{
    width: 150px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#subscribe{
    height: 300px;
}